# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np

# Seu código aqui
dados = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
temperaturasSemIndex = pd.Series(data=dados)
temperaturasSemIndex

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [3]:

# seu código aqui
indice=[1900, 1920, 1940, 1960, 1980, 2000, 2020]
dados = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
temperaturasComIndex = pd.Series(data=dados, index=indice)
temperaturasComIndex

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [4]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}
temperatura = pd.Series(dic_temperaturas)
temperatura

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [6]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
array = np.random.normal(100, 10, (20,3))
df = pd.DataFrame(array, columns=['col1', 'col2', 'col3'])
df

          col1        col2        col3
0   106.218160   89.206526   98.670073
1   105.633905   79.588564   99.232467
2   108.175203   92.224943   90.784687
3    97.920142  114.307150  107.754055
4   101.711525   97.537319   95.672498
5    95.936493   93.172828   99.115139
6    91.080471  100.169593   95.235367
7   101.750056   97.690146  112.945022
8   101.758919  116.062817  106.964272
9   101.913666   85.059469  112.216390
10  101.878521   95.643524   91.031025
11  106.437307  107.270817   98.362235
12   89.406378   93.070176   97.838974
13   89.581705  100.013871   90.657448
14   93.898119   95.283675   92.995798
15  116.830327   97.884649   97.545663
16   98.435068  107.932097   99.951895
17   98.959714   89.003221   74.281520
18   94.978041   92.565719  104.407360
19  109.362281   91.835291  100.151587

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [7]:
#seu código aqui
df.index = range(1, 21)
df.columns = ['x1', 'x2', 'x3']
df

            x1          x2          x3
1   106.218160   89.206526   98.670073
2   105.633905   79.588564   99.232467
3   108.175203   92.224943   90.784687
4    97.920142  114.307150  107.754055
5   101.711525   97.537319   95.672498
6    95.936493   93.172828   99.115139
7    91.080471  100.169593   95.235367
8   101.750056   97.690146  112.945022
9   101.758919  116.062817  106.964272
10  101.913666   85.059469  112.216390
11  101.878521   95.643524   91.031025
12  106.437307  107.270817   98.362235
13   89.406378   93.070176   97.838974
14   89.581705  100.013871   90.657448
15   93.898119   95.283675   92.995798
16  116.830327   97.884649   97.545663
17   98.435068  107.932097   99.951895
18   98.959714   89.003221   74.281520
19   94.978041   92.565719  104.407360
20  109.362281   91.835291  100.151587

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [8]:
# seu código aqui
df['media'] = df.mean(axis=1)
df

            x1          x2          x3       media
1   106.218160   89.206526   98.670073   98.031586
2   105.633905   79.588564   99.232467   94.818312
3   108.175203   92.224943   90.784687   97.061611
4    97.920142  114.307150  107.754055  106.660449
5   101.711525   97.537319   95.672498   98.307114
6    95.936493   93.172828   99.115139   96.074820
7    91.080471  100.169593   95.235367   95.495144
8   101.750056   97.690146  112.945022  104.128408
9   101.758919  116.062817  106.964272  108.262002
10  101.913666   85.059469  112.216390   99.729842
11  101.878521   95.643524   91.031025   96.184357
12  106.437307  107.270817   98.362235  104.023453
13   89.406378   93.070176   97.838974   93.438509
14   89.581705  100.013871   90.657448   93.417675
15   93.898119   95.283675   92.995798   94.059197
16  116.830327   97.884649   97.545663  104.086880
17   98.435068  107.932097   99.951895  102.106353
18   98.959714   89.003221   74.281520   87.414818
19   94.978041   92.565719  104.407360   97.317040
20  109.362281   91.835291  100.151587  100.449720

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [9]:
# seu código aqui
df['log_med'] = np.log(df['media'])
df

            x1          x2          x3       media   log_med
1   106.218160   89.206526   98.670073   98.031586  4.585290
2   105.633905   79.588564   99.232467   94.818312  4.551963
3   108.175203   92.224943   90.784687   97.061611  4.575346
4    97.920142  114.307150  107.754055  106.660449  4.669650
5   101.711525   97.537319   95.672498   98.307114  4.588096
6    95.936493   93.172828   99.115139   96.074820  4.565127
7    91.080471  100.169593   95.235367   95.495144  4.559075
8   101.750056   97.690146  112.945022  104.128408  4.645625
9   101.758919  116.062817  106.964272  108.262002  4.684554
10  101.913666   85.059469  112.216390   99.729842  4.602465
11  101.878521   95.643524   91.031025   96.184357  4.566267
12  106.437307  107.270817   98.362235  104.023453  4.644616
13   89.406378   93.070176   97.838974   93.438509  4.537304
14   89.581705  100.013871   90.657448   93.417675  4.537081
15   93.898119   95.283675   92.995798   94.059197  4.543924
16  116.830327   97.884649   97.545663  104.086880  4.645226
17   98.435068  107.932097   99.951895  102.106353  4.626015
18   98.959714   89.003221   74.281520   87.414818  4.470665
19   94.978041   92.565719  104.407360   97.317040  4.577974
20  109.362281   91.835291  100.151587  100.449720  4.609657